a {
    color: black;
    text-decoration: none;
}

li {
    padding: 10px 20px;
    width: 100px;
    text-align: center;
}

h2 {
    padding-left: 37px;
}

li:hover{
    background: darkgray;
}
    